 /* Handle on hover */
 
 body {
     direction: ltr;
     text-align: left;
 }
 
 .header #cssmenu ul li {
     float: left;
     margin-left: 0px;
     margin-right: 32px;
 }
 
 .header #cssmenu ul li a {
     text-transform: capitalize;
 }
 
 .header #cssmenu ul li a:after {
     content: "";
     right: auto;
     left: 0px;
 }
 
 .language {
     padding-right: 0px;
     border-right: 0px;
     padding-left: 32px;
     border-left: 1px solid #5f5f5f;
 }
 
 @media (max-width: 991px) {
     .language {
         padding-right: 0px;
         padding-left: 12px;
     }
 }
 
 @media (max-width: 991px) {
     .header #cssmenu {
         left: auto;
         right: 75px;
     }
     .header #cssmenu #menu-button {
         float: right;
     }
     .header #cssmenu #menu-button:after {
         left: auto;
         right: 0px;
     }
     .header #cssmenu #menu-button:before {
         left: auto;
         right: 0px;
     }
     #cssmenu #menu-button:after {
         left: auto;
         right: 0px;
     }
     #cssmenu #menu-button:before {
         left: auto;
         right: 0px;
     }
 }
 
 .title,
 .bottom {
     text-transform: capitalize;
 }
 
 .item-serv {
     border-left: 0px;
     border-right: 1px solid #171717;
 }
 
 .contact .map {
     left: auto;
     right: 0px;
 }
 
 .contact .title {
     text-align: left;
     padding-right: 0px;
     padding-left: 30px;
 }
 
 .contact .title:after {
     content: "";
     right: auto;
     left: 0px;
 }
 
 .map-text svg {
     right: auto;
     left: 0px;
 }
 
 .map-text p,
 .map-text a {
     padding-right: 0px;
     padding-left: 30px;
     text-transform: capitalize;
 }